@font-face {
	font-family: 'icomoon';
	src:url(../../src/icons/pannel/fonts/icomoon.eot);
	src:url('../../src/icons/pannel/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
	url('../../src/icons/pannel/fonts/icomoon.woff') format('woff'),
	url('../../src/icons/pannel/fonts/icomoon.ttf') format('truetype'),
	url('../../src/icons/pannel/fonts/icomoon.svg#icomoon') format('svg');
}
body{
	font-family: Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;;
	font-weight: 400;
}